.imageContainer {
    position: relative;
    display: inline-block; /* Ensures the container only takes the space of the image */
    }    

.img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
    }
 
.textContainer {
    position: absolute;
    bottom: 10px;
    left: 30px;
    padding: 10px;
    color: white; /* Adjust the color to be visible on the image */
    }
    
.bulletPoints {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    }
    
.bulletPoints li {
    margin-bottom: 2px; /* Adjust this value to control the spacing between bullet points */
}

.buttonRounder{
    margin-left: -20px;
    margin-top: 0px;
    border-radius: 20px;
    margin-bottom: 10px;
  }